@page
@using Microsoft.Extensions.Localization
@using JS.Abp.CacheManagement.Localization
@using JS.Abp.CacheManagement.Web.Pages.CacheManagement
@model JS.Abp.CacheManagement.Web.Pages.CacheManagement.IndexModel
@inject IStringLocalizer<CacheManagementResource> L

@{
}
<h1>CacheManagement</h1>
<p>@L["SamplePageMessage"]</p>
